<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errormessage"></div>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errormessage"></div>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errormessage"></div>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>